.button{
       -fx-background-color: #1d1d1d;
       -fx-border-width: 2px;
       -fx-border-color: white;
       -fx-text-fill: white;
       -fx-border-radius: 5px;
       -fx-background-radius: 5px;
}

.button:pressed {
    -fx-border-color: red;
}

.vbox {
    -fx-background-color: #1d1d1d;
}


.text-field {
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.text-field:focused {
    -fx-border-color: red;
    -fx-background-color: #333232;
}

.label {
    -fx-text-fill: white;
}

.text-area {
    -fx-text-fill: white;
}

.text-area:focused {
    -fx-border-color: red;
    -fx-border-radius: 2px;
}

.text-area .content{
    -fx-background-color: #1d1d1d;
}


